/* src/styles/globals.css */
@import "tailwindcss";

html, body, #root {
  height: 100%;
}

/* Oculta scrollbar pero permite scroll */
.scrollbar-none {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge viejo */
}
.scrollbar-none::-webkit-scrollbar {
  width: 0px;                   /* Chrome/Safari */
  height: 0px;
}

